UI/Connected Services/WcfService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54381/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTipoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCliente" nillable="true" type="tns:TipoCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCliente" nillable="true" type="tns:ArrayOfTipoCliente" />
  <xs:complexType name="TipoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoClienteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCliente" nillable="true" type="tns:TipoCliente" />
  <xs:complexType name="ArrayOfSituacaoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SituacaoCliente" nillable="true" type="tns:SituacaoCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSituacaoCliente" nillable="true" type="tns:ArrayOfSituacaoCliente" />
  <xs:complexType name="SituacaoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SituacaoClienteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SituacaoCliente" nillable="true" type="tns:SituacaoCliente" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="ser:char" />
      <xs:element minOccurs="0" name="SituacaoCliente" nillable="true" type="tns:SituacaoCliente" />
      <xs:element minOccurs="0" name="TipoCliente" nillable="true" type="tns:TipoCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>