UI/Connected Services/WcfService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54381/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54381/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54381/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import schemaLocation="http://localhost:54381/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTO.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTipoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTipoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSituacaoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSituacaoCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSituacaoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSituacaoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTipoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTipoCliente" message="tns:IService1_GetTipoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTipoClienteResponse" message="tns:IService1_GetTipoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSituacaoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSituacaoCliente" message="tns:IService1_GetSituacaoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSituacaoClienteResponse" message="tns:IService1_GetSituacaoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClientes" message="tns:IService1_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientesResponse" message="tns:IService1_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveCliente" message="tns:IService1_SaveCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveClienteResponse" message="tns:IService1_SaveCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCliente" message="tns:IService1_DeleteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteClienteResponse" message="tns:IService1_DeleteCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTipoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSituacaoCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSituacaoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54381/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>